//===========FONT===============
@import url('https://fonts.googleapis.com/css?family=Roboto');
$font: 'Roboto', sans-serif;

//==========COLOR===========
$white-color: #fff;
$opacity-white-background:rgba(255,255,255,.02);
$white-border-line: rgba(255,255,255,.102);
$blue-border-line: rgb(146,232,254);
$background-color: #101e27;
$red: rgb(200,14,36);
$green: rgb(112,196,70)